* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    padding: 0;
    margin: 0;

    p {
        color: #888;
        font-size: 14px;
        line-height: 1.6;
        margin: 0;
        padding: 0;
    }

    span {
        color: #ff651c;
    }
}

%Nameline {
    content: "";
    display: block;
    padding: 2px 0;
    left: 0;
    margin: 10px auto;
    position: relative;
    z-index: 99;
    right: 0;
    width: 100px;
    border-radius: 4px;
    background-color: #ff651c;

    &::before {
        background-color: #212121;
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        width: 4px;
        left: 8px;
        animation: lineMove 10s infinite linear;
    }

    &::after {
        background-color: #212121;
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        width: 4px;
        left: 0;
        animation: lineMove 10s infinite linear;
    }
}

%title {
    font-size: 55px;
    line-height: 1.2;
    font-weight: 700;
    word-spacing: 5px;
    color: #fff;
    margin: 10px 0 0;
    text-align: center;
}

%main {
    position: relative;
    padding: 30px;
    background-color: #212121;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    margin: 0;
    display: none;

    &.active {
        display: flex;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #555;
    }
}

.portfolio {
    background-color: #111;
    padding: 100px 150px 100px 70px;
    height: 100vh;
    position: relative;

    .line {
        position: fixed;
        height: 155%;
        width: 136%;
        transform: rotate(-57deg);
        left: -91%;
        top: -48%;
        box-shadow: 0 0 7px #fffffff2;
        background-color: #ff651c;
    }

    .modal {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 999;
        padding-top: 50px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
    }

    /* Modal Content (image) */
    .modal-content {
        margin: 0 auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Caption of Modal Image */
    #caption {
        margin: 0 auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
    }

    /* Add Animation */
    .modal-content,
    #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0);
        }

        to {
            -webkit-transform: scale(1);
        }
    }

    @keyframes zoom {
        from {
            transform: scale(0);
        }

        to {
            transform: scale(1);
        }
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    .menuPC {
        position: absolute;
        color: #fff;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 100px 0;
        margin: 0;
        width: 70px;

        .list_item {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            height: 100%;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: #212121;
            padding: 0;
            margin: 0;
            min-height: 300px;
            z-index: 999;

            .menu_item {
                width: 100%;
                height: 70px;
                color: #555;
                font-size: 26px;
                transition: all 0.5s;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                transition: all 0.5s;

                &:hover {
                    color: #ff651c;
                }

                &.active {
                    left: -50%;
                    border-radius: 50%;
                    border: 6px solid #111;
                    background-image: linear-gradient(#232323, #141516d1);
                    color: #ff651c;
                }
            }
        }

    }

    .menuMB {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;

        .list_item {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            background-color: #212121;
            height: 70px;
            margin: 0;
            width: 100%;

            .menu_itemMB {
                color: #555;
                font-size: 26px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &:hover {
                    color: #ff651c;
                }

                &.active {
                    color: #ff651c
                }
            }
        }
    }

    .home {
        @extend %main;

        .home_avatar {
            background-image: url("./Assets/avatar.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 0 30px #000000;
        }

        .home_info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px 10px 10px 20px;
            text-align: center;

            .home_infoName {
                @extend %title;
            }

            .home_infoNameLine {
                @extend %Nameline;
            }

            .home_infoPosition {
                margin: 15px 0 25px;
                height: 50px;
                overflow: hidden;

                h3 {
                    color: #ff651c;
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 50px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    margin: 0;

                    &:nth-child(1) {
                        animation: textMove 5s infinite;
                    }
                }
            }

            .home_infoSocial {
                margin-bottom: 25px;

                a {
                    text-decoration: none;
                    margin: 0 5px;

                    i {
                        color: #888;
                        font-size: 25px;
                        transition: all 0.3s;

                        &:hover {
                            color: #ff651c;
                        }
                    }
                }
            }

            .home_btn {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 25px;

                div {
                    cursor: pointer;
                    text-decoration: none;
                    padding: 10px 10px;
                    background-color: #ff651c;
                    color: #fff;
                    letter-spacing: 1px;
                    text-transform: capitalize;
                    border-radius: 4px;
                    border: 2px solid #ff651c;
                    font-size: 15px;
                    margin: 0 5px;
                    transition: all 0.3s;

                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .about {
        @extend %main;
        flex-direction: column;
        align-items: center;

        .about_title {
            @extend %title;
        }

        .about_infoNameLine {
            @extend %Nameline;
        }

        .about_container {
            width: 100%;

            .about_containerLeft {
                background-image: url("./Assets/IMG_5897.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top;
                padding: 10px;
                border-radius: 10px;
                box-shadow: 0 0 30px #000000;
            }

            .about_containerRight {
                padding-left: 30px;

                h5 {
                    color: #fff;
                    font-weight: 700;
                    line-height: 120%;
                }

                h3 {
                    line-height: 120%;
                    color: #fff;
                    font-weight: 700;
                    margin: 0 0 15px;
                }

                .about_info {
                    margin-top: 30px;

                    .about_infoList {
                        ul {
                            list-style: none;
                            padding: 0;

                            li {
                                color: #888;
                                padding-bottom: 20px;
                                font-size: 16px;

                                a {
                                    color: #ff651c;
                                }

                                p {
                                    display: inline-block;
                                    color: #fff;
                                    font-size: 16px;
                                }
                            }
                        }
                    }

                    .downloadCV {
                        align-items: center;
                        border: 2px solid #ff651c;
                        padding: 0;
                        border-radius: 5px;
                        background-color: #ff651c;
                        transition: all 0.5s;
                        cursor: pointer;

                        a {
                            display: block;
                            font-size: 14px;
                            text-decoration: none;
                            color: #fff;
                            padding: 10px;
                        }

                        &:hover {
                            background-color: transparent;
                            box-shadow: 0 0 25px #000000d9;
                            transform: rotate(10deg);
                        }
                    }
                }
            }
        }
    }

    .project {
        @extend %main;
        flex-direction: column;
        align-items: center;

        .project_title {
            @extend %title;
        }

        .project_infoNameLine {
            @extend %Nameline;
        }

        .nav {
            margin: 10px 0 30px;
            border: none;

            .nav-item {
                .nav-link {
                    align-items: center;
                    border: 2px solid #ff651c;
                    padding: 0;
                    border-radius: 5px;
                    background-color: #ff651c;
                    transition: all 0.5s;
                    cursor: pointer;
                    font-size: 14px;
                    color: #fff;
                    padding: 10px;
                    margin: 0px 10px;
                    font-weight: 700;

                    &.active {
                        background-color: transparent;
                        box-shadow: 0 0 25px #000000d9;
                        transform: rotate(10deg);
                    }
                }
            }
        }

        .tab-content {
            .listSkill {
                width: 100%;
                display: flex;
                justify-content: space-around;
                height: 100%;
                margin-top: 20px;
                flex-wrap: wrap;

                .skill_item {
                    width: 220px;
                    min-height: 250px;
                    text-align: center;
                    padding: 20px 25px;
                    box-shadow: #0b0b0ef5 0px 0px 27px 0px, #000000c9 4px 8px 16px -9px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    border-radius: 10px;
                    align-items: center;
                    margin: 20px 10px 0;
                    transition: all 0.5s;
                    cursor: pointer;

                    .skill_logo {
                        max-width: 200px;
                        max-height: 170px;
                        width: 100%;
                    }

                    .skill_name {
                        color: #fff;
                        margin-top: 10px;
                        font-size: 18px;
                        font-weight: bold;
                    }

                    &:hover {
                        box-shadow: #606060f5 0px 0px 27px 0px, #f2f2f2c9 4px 8px 16px -9px;
                    }
                }
            }

            .listCertificate {
                align-items: center;

                .certification_item {
                    max-height: 335px;
                    overflow: hidden;
                    position: relative;
                    margin: 10px 0;

                    img {
                        width: 100%;
                    }

                    &::before {
                        content: "";
                        top: 0;
                        left: 15px;
                        width: 3px;
                        height: 100%;
                        background-color: #ff651c;
                        position: absolute;
                        transition: .7s;
                        transform: scale(0);
                        z-index: 999;
                    }

                    &::after {
                        content: "";
                        bottom: 0;
                        right: 15;
                        width: 3px;
                        height: 100%;
                        background-color: #ff651c;
                        position: absolute;
                        transition: .7s;
                        transform: scale(0);
                    }

                    &:hover {

                        &::before,
                        &::after {
                            transform: scale(1);
                        }

                        .certificate_overlay {
                            opacity: 1;
                        }
                    }

                    .certificate_overlay {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 15px;
                        right: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #0000009d;
                        opacity: 0;
                        transition: all 0.3s;

                        &::before {
                            z-index: 999;
                            content: "";
                            bottom: 0;
                            right: 0;
                            width: 100%;
                            height: 3px;
                            background-color: #ff651c;
                            position: absolute;
                            transition: .7s;
                            transform: scale(0);
                        }

                        &::after {
                            z-index: 999;
                            top: 0;
                            left: 0;
                            content: "";
                            width: 100%;
                            height: 3px;
                            background-color: #ff651c;
                            position: absolute;
                            transition: .7s;
                            transform: scale(0);
                        }

                        &:hover {

                            &::before,
                            &::after {
                                transform: scale(1);
                            }
                        }

                        .btn_eye {
                            padding: 5px;
                            background-color: rgba(255, 255, 255, 0.719);
                            border-radius: 50%;
                            transition: all 0.3s;
                            display: flex;
                            align-items: center;
                            cursor: pointer;

                            i {
                                font-size: 30px;
                            }

                            &:hover {
                                background-color: #fff;
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }

            .listProject {
                .project_item {
                    position: relative;
                    padding: 15px 15px;
                    border: 3px solid #ff641c00;
                    transition: all 0.5s;

                    .overlay {
                        position: absolute;
                        opacity: 0;
                        top: 100%;
                        bottom: 0;
                        left: 0px;
                        right: 0px;
                        background-color: #000000be;
                        padding: 30px;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: space-between;
                        transition: all 0.5s;
                        overflow-y: scroll;

                        &::-webkit-scrollbar-track {
                            border-radius: 10px;
                            background-color: transparent;
                        }

                        &::-webkit-scrollbar {
                            width: 5px;
                            background-color: transparent;
                        }

                        &::-webkit-scrollbar-thumb {
                            border-radius: 10px;
                            background-color: #555;
                        }

                        .overlay_name {
                            color: #ff651c;
                            font-size: 25px;
                            font-weight: bold;
                        }

                        .overlay_ders,
                        .overlay_teamSize,
                        .overlay_tech {
                            color: #fff;
                            font-size: 15px
                        }

                        .project_btn {
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            width: 100%;

                            a {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                text-decoration: none;
                                padding: 10px 15px;
                                border-radius: 5px;
                                color: #fff;
                                border: 1px solid #ff651c;
                                background-color: #0000005d;
                                transition: all 0.5s;

                                &:hover {
                                    background-color: #ff651c;
                                }
                            }
                        }
                    }

                    &:hover {
                        border: 3px solid #ff651c;

                        &::before,
                        &::after {
                            transform: scale(1);
                        }

                        .overlay {
                            opacity: 1;
                            top: 0;
                        }

                        .certificate_overlay {
                            opacity: 1;
                        }
                    }
                }

            }
        }
    }

    .contact {
        @extend %main;
        flex-direction: column;
        align-items: center;

        .contact_title {
            @extend %title;
        }

        .contact_infoNameLine {
            @extend %Nameline;
        }

        .contact_container {
            width: 100%;

            h4 {
                color: #fff;
                font-weight: 700;
                margin: 0 0 15px;
            }

            .contact_form {

                input,
                textarea {
                    background-color: #212121;
                    border: none;
                    color: #fff;
                    padding: 9px 14px;
                    box-shadow: 0 0 10px #000000d9;
                    border-radius: 5px;
                }

                .btnSendMe {
                    align-items: center;
                    border: 2px solid #ff651c;
                    border-radius: 5px;
                    background-color: #ff651c;
                    transition: all 0.5s;
                    cursor: pointer;
                    font-size: 14px;
                    color: #fff;
                    padding: 10px;
                    margin: 25px auto;
                    outline: none;

                    &:hover {
                        background-color: transparent;
                        box-shadow: 0 0 25px #000000d9;
                        transform: rotate(10deg);
                    }

                }
            }

            .contact_info {
                .info_list {
                    list-style: none;
                    padding: 0;

                    li {
                        display: flex;
                        align-items: center;
                        margin: 10px 0 20px;

                        i {
                            color: #ff651c;
                            font-size: 30px;
                            min-width: 30px;
                        }

                        .info_item {
                            display: flex;
                            flex-direction: column;
                            color: #fff;
                            font-size: 14px;
                            padding-left: 30px;
                            font-weight: 600;

                            a {
                                color: #ff651c;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes textMove {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: -50px;
    }

    100% {
        margin-top: 0;
    }
}

@keyframes lineMove {
    0% {
        transform: translateX(-1px);
    }

    50% {
        transform: translateX(89px);
    }

    100% {
        transform: translateX(-1px);
    }
}

@media only screen and (max-width: 1200px) {
    .portfolio {
        padding: 100px 120px 100px 20px;
    }
}

@media only screen and (max-width: 768px) {
    .portfolio {
        padding: 50px 50px 85px;

        .menuPC {
            display: none !important;
        }

        .menuMB {
            display: flex;
        }

        .about {
            .about_container {
                .about_containerRight {
                    padding: 0;
                }

                .about_containerLeft {
                    display: none;
                }
            }
        }

        .home {
            padding: 15px;

            .home_avatar {
                display: none;
            }
        }
    }

}


@media only screen and (max-width: 576px) {
    .portfolio {
        padding: 15px 15px 85px;

        .home_infoPosition {
            margin: 15px 0 !important;

            h3 {
                font-size: 25px !important;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}