* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
body p {
  color: #888;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
body span {
  color: #ff651c;
}

.portfolio .contact .contact_infoNameLine, .portfolio .project .project_infoNameLine, .portfolio .about .about_infoNameLine, .portfolio .home .home_info .home_infoNameLine {
  content: "";
  display: block;
  padding: 2px 0;
  left: 0;
  margin: 10px auto 20px;
  position: relative;
  z-index: 99;
  right: 0;
  width: 100px;
  border-radius: 4px;
  background-color: #ff651c;
}
.portfolio .contact .contact_infoNameLine::before, .portfolio .project .project_infoNameLine::before, .portfolio .about .about_infoNameLine::before, .portfolio .home .home_info .home_infoNameLine::before {
  background-color: #212121;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 4px;
  left: 8px;
  -webkit-animation: lineMove 10s infinite linear;
          animation: lineMove 10s infinite linear;
}
.portfolio .contact .contact_infoNameLine::after, .portfolio .project .project_infoNameLine::after, .portfolio .about .about_infoNameLine::after, .portfolio .home .home_info .home_infoNameLine::after {
  background-color: #212121;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 4px;
  left: 0;
  -webkit-animation: lineMove 10s infinite linear;
          animation: lineMove 10s infinite linear;
}

.portfolio .contact .contact_title, .portfolio .project .project_title, .portfolio .about .about_title, .portfolio .home .home_info .home_infoName {
  font-size: 55px;
  line-height: 1.2;
  font-weight: 700;
  word-spacing: 5px;
  color: #fff;
  margin: 10px 0 0;
  text-align: center;
}

.portfolio .contact, .portfolio .project, .portfolio .about, .portfolio .home {
  position: relative;
  padding: 30px;
  background-color: #212121;
  border-radius: 10px;
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
  margin: 0;
  display: none;
}
.portfolio .active.contact, .portfolio .active.project, .portfolio .active.about, .portfolio .active.home {
  display: flex;
}
.portfolio .contact::-webkit-scrollbar-track, .portfolio .project::-webkit-scrollbar-track, .portfolio .about::-webkit-scrollbar-track, .portfolio .home::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
.portfolio .contact::-webkit-scrollbar, .portfolio .project::-webkit-scrollbar, .portfolio .about::-webkit-scrollbar, .portfolio .home::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.portfolio .contact::-webkit-scrollbar-thumb, .portfolio .project::-webkit-scrollbar-thumb, .portfolio .about::-webkit-scrollbar-thumb, .portfolio .home::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555;
}

.portfolio {
  background-color: #111;
  padding: 100px 150px 100px 70px;
  height: 100vh;
  position: relative;
  /* Modal Content (image) */
  /* Caption of Modal Image */
  /* Add Animation */
  /* The Close Button */
}
.portfolio .line {
  position: fixed;
  height: 155%;
  width: 136%;
  transform: rotate(-57deg);
  left: -91%;
  top: -48%;
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.9490196078);
  background-color: #ff651c;
}
.portfolio .modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.portfolio .modal-content {
  margin: 0 auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
.portfolio #caption {
  margin: 0 auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}
.portfolio .modal-content,
.portfolio #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.portfolio .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.portfolio .close:hover,
.portfolio .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.portfolio .menuPC {
  position: absolute;
  color: #fff;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 100px 0;
  margin: 0;
  width: 70px;
}
.portfolio .menuPC .list_item {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #212121;
  padding: 0;
  margin: 0;
  min-height: 300px;
  z-index: 999;
}
.portfolio .menuPC .list_item .menu_item {
  width: 100%;
  height: 70px;
  color: #555;
  font-size: 26px;
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.5s;
}
.portfolio .menuPC .list_item .menu_item:hover {
  color: #ff651c;
}
.portfolio .menuPC .list_item .menu_item.active {
  left: -50%;
  border-radius: 50%;
  border: 6px solid #111;
  background-image: linear-gradient(#232323, rgba(20, 21, 22, 0.8196078431));
  color: #ff651c;
}
.portfolio .menuMB {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.portfolio .menuMB .list_item {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #212121;
  height: 70px;
  margin: 0;
  width: 100%;
}
.portfolio .menuMB .list_item .menu_itemMB {
  color: #555;
  font-size: 26px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.portfolio .menuMB .list_item .menu_itemMB:hover {
  color: #ff651c;
}
.portfolio .menuMB .list_item .menu_itemMB.active {
  color: #ff651c;
}
.portfolio .home .home_avatar {
  background-image: url("./Assets/avatar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 30px #000000;
}
.portfolio .home .home_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px 10px 20px;
  text-align: center;
}
.portfolio .home .home_info .home_infoPosition {
  margin: 15px 0 25px;
  height: 50px;
  overflow: hidden;
}
.portfolio .home .home_info .home_infoPosition h3 {
  color: #ff651c;
  font-size: 30px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}
.portfolio .home .home_info .home_infoPosition h3:nth-child(1) {
  -webkit-animation: textMove 5s infinite;
          animation: textMove 5s infinite;
}
.portfolio .home .home_info .home_infoSocial {
  margin-bottom: 25px;
}
.portfolio .home .home_info .home_infoSocial a {
  text-decoration: none;
  margin: 0 5px;
}
.portfolio .home .home_info .home_infoSocial a i {
  color: #888;
  font-size: 25px;
  transition: all 0.3s;
}
.portfolio .home .home_info .home_infoSocial a i:hover {
  color: #ff651c;
}
.portfolio .home .home_info .home_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.portfolio .home .home_info .home_btn div {
  cursor: pointer;
  text-decoration: none;
  padding: 10px 10px;
  background-color: #ff651c;
  color: #fff;
  letter-spacing: 1px;
  text-transform: capitalize;
  border-radius: 4px;
  border: 2px solid #ff651c;
  font-size: 15px;
  margin: 0 5px;
  transition: all 0.3s;
}
.portfolio .home .home_info .home_btn div:hover {
  background-color: transparent;
}
.portfolio .about {
  flex-direction: column;
  align-items: center;
}
.portfolio .about .about_container {
  width: 100%;
  height: 100%;
  align-items: center;
}
.portfolio .about .about_container .about_containerLeft {
  background-image: url("./Assets/myimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 30px #000000;
  height: 100%;
}
.portfolio .about .about_container .about_containerRight {
  padding-left: 30px;
}
.portfolio .about .about_container .about_containerRight h5 {
  color: #fff;
  font-weight: 700;
  line-height: 120%;
}
.portfolio .about .about_container .about_containerRight h3 {
  line-height: 120%;
  color: #fff;
  font-weight: 700;
  margin: 0 0 15px;
}
.portfolio .about .about_container .about_containerRight .about_info {
  margin-top: 30px;
}
.portfolio .about .about_container .about_containerRight .about_info .about_infoList ul {
  list-style: none;
  padding: 0;
}
.portfolio .about .about_container .about_containerRight .about_info .about_infoList ul li {
  color: #888;
  padding-bottom: 20px;
  font-size: 16px;
}
.portfolio .about .about_container .about_containerRight .about_info .about_infoList ul li a {
  color: #ff651c;
}
.portfolio .about .about_container .about_containerRight .about_info .about_infoList ul li p {
  display: inline-block;
  color: #fff;
  font-size: 16px;
}
.portfolio .about .about_container .about_containerRight .about_info .downloadCV {
  align-items: center;
  border: 2px solid #ff651c;
  padding: 0;
  border-radius: 5px;
  background-color: #ff651c;
  transition: all 0.5s;
  cursor: pointer;
  -webkit-animation: shake 1.2s infinite;
          animation: shake 1.2s infinite;
}
.portfolio .about .about_container .about_containerRight .about_info .downloadCV a {
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}
.portfolio .about .about_container .about_containerRight .about_info .downloadCV:hover {
  -webkit-animation: none;
          animation: none;
  background-color: transparent;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8509803922);
  transform: rotate(10deg);
}
.portfolio .project {
  flex-direction: column;
  align-items: center;
}
.portfolio .project .nav {
  margin: 10px 0 30px;
  border: none;
}
.portfolio .project .nav .nav-item .nav-link {
  align-items: center;
  border: 2px solid #ff651c;
  padding: 0;
  border-radius: 5px;
  background-color: #ff651c;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  padding: 10px;
  margin: 0px 10px;
  font-weight: 700;
}
.portfolio .project .nav .nav-item .nav-link.active {
  background-color: transparent;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8509803922);
  transform: rotate(10deg);
}
.portfolio .project .tab-content .listSkill {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 100%;
  margin-top: 20px;
  flex-wrap: wrap;
}
.portfolio .project .tab-content .listSkill .skill_item {
  width: 220px;
  min-height: 250px;
  text-align: center;
  padding: 20px 25px;
  box-shadow: rgba(11, 11, 14, 0.9607843137) 0px 0px 27px 0px, rgba(0, 0, 0, 0.7882352941) 4px 8px 16px -9px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  align-items: center;
  margin: 20px 10px 0;
  transition: all 0.5s;
  cursor: pointer;
}
.portfolio .project .tab-content .listSkill .skill_item .skill_logo {
  max-width: 200px;
  max-height: 170px;
  width: 100%;
}
.portfolio .project .tab-content .listSkill .skill_item .skill_name {
  color: #fff;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
.portfolio .project .tab-content .listSkill .skill_item:hover {
  box-shadow: rgba(96, 96, 96, 0.9607843137) 0px 0px 27px 0px, rgba(242, 242, 242, 0.7882352941) 4px 8px 16px -9px;
}
.portfolio .project .tab-content .listCertificate {
  align-items: center;
}
.portfolio .project .tab-content .listCertificate .certification_item {
  max-height: 335px;
  overflow: hidden;
  position: relative;
  margin: 10px 0;
}
.portfolio .project .tab-content .listCertificate .certification_item img {
  width: 100%;
}
.portfolio .project .tab-content .listCertificate .certification_item::before {
  content: "";
  top: 0;
  left: 15px;
  width: 3px;
  height: 100%;
  background-color: #ff651c;
  position: absolute;
  transition: 0.7s;
  transform: scale(0);
  z-index: 999;
}
.portfolio .project .tab-content .listCertificate .certification_item::after {
  content: "";
  bottom: 0;
  right: 15;
  width: 3px;
  height: 100%;
  background-color: #ff651c;
  position: absolute;
  transition: 0.7s;
  transform: scale(0);
}
.portfolio .project .tab-content .listCertificate .certification_item:hover::before, .portfolio .project .tab-content .listCertificate .certification_item:hover::after {
  transform: scale(1);
}
.portfolio .project .tab-content .listCertificate .certification_item:hover .certificate_overlay {
  opacity: 1;
}
.portfolio .project .tab-content .listCertificate .certification_item .certificate_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6156862745);
  opacity: 0;
  transition: all 0.3s;
}
.portfolio .project .tab-content .listCertificate .certification_item .certificate_overlay::before {
  z-index: 999;
  content: "";
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #ff651c;
  position: absolute;
  transition: 0.7s;
  transform: scale(0);
}
.portfolio .project .tab-content .listCertificate .certification_item .certificate_overlay::after {
  z-index: 999;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ff651c;
  position: absolute;
  transition: 0.7s;
  transform: scale(0);
}
.portfolio .project .tab-content .listCertificate .certification_item .certificate_overlay:hover::before, .portfolio .project .tab-content .listCertificate .certification_item .certificate_overlay:hover::after {
  transform: scale(1);
}
.portfolio .project .tab-content .listCertificate .certification_item .certificate_overlay .btn_eye {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.719);
  border-radius: 50%;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.portfolio .project .tab-content .listCertificate .certification_item .certificate_overlay .btn_eye i {
  font-size: 30px;
}
.portfolio .project .tab-content .listCertificate .certification_item .certificate_overlay .btn_eye:hover {
  background-color: #fff;
  transform: scale(1.1);
}
.portfolio .project .tab-content .listProject .project_item {
  position: relative;
  padding: 15px 15px;
  border: 3px solid rgba(255, 100, 28, 0);
  transition: all 0.5s;
  overflow: hidden;
}
.portfolio .project .tab-content .listProject .project_item .overlay {
  position: absolute;
  opacity: 0;
  top: 100%;
  bottom: 0;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.7450980392);
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s;
  overflow-y: scroll;
}
.portfolio .project .tab-content .listProject .project_item .overlay::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
.portfolio .project .tab-content .listProject .project_item .overlay::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.portfolio .project .tab-content .listProject .project_item .overlay::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555;
}
.portfolio .project .tab-content .listProject .project_item .overlay .overlay_name {
  color: #ff651c;
  font-size: 25px;
  font-weight: bold;
}
.portfolio .project .tab-content .listProject .project_item .overlay .overlay_ders,
.portfolio .project .tab-content .listProject .project_item .overlay .overlay_teamSize,
.portfolio .project .tab-content .listProject .project_item .overlay .overlay_tech {
  color: #fff;
  font-size: 15px;
}
.portfolio .project .tab-content .listProject .project_item .overlay .project_btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.portfolio .project .tab-content .listProject .project_item .overlay .project_btn a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #ff651c;
  background-color: rgba(0, 0, 0, 0.3647058824);
  transition: all 0.5s;
}
.portfolio .project .tab-content .listProject .project_item .overlay .project_btn a:hover {
  background-color: #ff651c;
}
.portfolio .project .tab-content .listProject .project_item:hover {
  border: 3px solid #ff651c;
}
.portfolio .project .tab-content .listProject .project_item:hover::before, .portfolio .project .tab-content .listProject .project_item:hover::after {
  transform: scale(1);
}
.portfolio .project .tab-content .listProject .project_item:hover .overlay {
  opacity: 1;
  top: 0;
}
.portfolio .project .tab-content .listProject .project_item:hover .certificate_overlay {
  opacity: 1;
}
.portfolio .contact {
  flex-direction: column;
  align-items: center;
}
.portfolio .contact .contact_container {
  width: 100%;
}
.portfolio .contact .contact_container h4 {
  color: #fff;
  font-weight: 700;
  margin: 0 0 15px;
}
.portfolio .contact .contact_container .contact_form input,
.portfolio .contact .contact_container .contact_form textarea {
  background-color: #212121;
  border: none;
  color: #fff;
  padding: 9px 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8509803922);
  border-radius: 5px;
}
.portfolio .contact .contact_container .contact_form .btnSendMe {
  align-items: center;
  border: 2px solid #ff651c;
  border-radius: 5px;
  background-color: #ff651c;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  padding: 10px;
  margin: 25px auto;
  outline: none;
}
.portfolio .contact .contact_container .contact_form .btnSendMe:hover {
  background-color: transparent;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8509803922);
  transform: rotate(10deg);
}
.portfolio .contact .contact_container .contact_info .info_list {
  list-style: none;
  padding: 0;
}
.portfolio .contact .contact_container .contact_info .info_list li {
  display: flex;
  align-items: center;
  margin: 10px 0 20px;
}
.portfolio .contact .contact_container .contact_info .info_list li i {
  color: #ff651c;
  font-size: 30px;
  min-width: 30px;
}
.portfolio .contact .contact_container .contact_info .info_list li .info_item {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 14px;
  padding-left: 30px;
  font-weight: 600;
}
.portfolio .contact .contact_container .contact_info .info_list li .info_item a {
  color: #ff651c;
}

@-webkit-keyframes shake {
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
}

@keyframes shake {
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
}
@-webkit-keyframes textMove {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -50px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes textMove {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -50px;
  }
  100% {
    margin-top: 0;
  }
}
@-webkit-keyframes lineMove {
  0% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(89px);
  }
  100% {
    transform: translateX(-1px);
  }
}
@keyframes lineMove {
  0% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(89px);
  }
  100% {
    transform: translateX(-1px);
  }
}
@media only screen and (max-width: 1200px) {
  .portfolio {
    padding: 100px 120px 100px 20px;
  }
}
@media only screen and (max-width: 768px) {
  .portfolio {
    padding: 50px 50px 85px;
  }
  .portfolio .menuPC {
    display: none !important;
  }
  .portfolio .menuMB {
    display: flex;
  }
  .portfolio .about .about_container .about_containerRight {
    padding: 0;
  }
  .portfolio .about .about_container .about_containerLeft {
    display: none;
  }
  .portfolio .home {
    padding: 15px;
  }
  .portfolio .home .home_avatar {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .portfolio {
    padding: 15px 15px 85px;
  }
  .portfolio .home_infoPosition {
    margin: 15px 0 !important;
  }
  .portfolio .home_infoPosition h3 {
    font-size: 25px !important;
  }
}
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */